<div
  *ngIf="isLoading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  <ng-container *ngFor="let index of [1, 2, 3]">
    <ng-container *ngFor="let dummy of [1, 2, 3, 4]">
      <div class="bg-white p-4 rounded-lg shadow-md">
        <div
          class="animate-pulse bg-gray-200 h-40 w-full rounded-lg mb-4"
        ></div>

        <div class="flex flex-col justify-between md:flex-row items-center">
          <div
            class="animate-pulse bg-gray-200 h-12 w-1/2 rounded-md mb-2"
          ></div>
          <button
            class="animate-pulse bg-gray-200 h-8 w-1/4 rounded-md mb-2"
          ></button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div
  *ngIf="!isLoading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  <div
    *ngFor="let product of products"
    class="bg-white p-4 rounded-lg shadow-md cursor-pointer transition duration-300 ease-in-out transform hover:scale-105"
  >
    <img
      class="w-full h-40 object-cover mb-4"
      src="{{ product.Image || product.Image1 }}"
      alt="{{ product.Name }}"
    />
    <div class="flex flex-col justify-between md:flex-row items-center">
      <div>
        <h2 class="text-lg font-semibold">{{ product.Name }}</h2>
        <p class="text-gray-600">{{ product.Price }}</p>
      </div>
      <button
        (click)="goToProductDescription(product)"
        class="mt-2 bg-cyan-500 text-white px-1 rounded-md text-sm md:text-xs h-8"
      >
        See details
      </button>
    </div>
  </div>
</div>

<!-- pagination -->

<div
  class="flex items-center justify-stretch border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-10"
>
  <div class="flex flex-1 justify-between sm:hidden">
    <button
      (click)="onNextPage()"
      [disabled]="currentPage === totalPages"
      [class.opacity-50]="currentPage === 1"
      class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
    >
      Previous
    </button>
    <button
      (click)="onNextPage()"
      [disabled]="currentPage === totalPages"
      [class.opacity-50]="currentPage === totalPages"
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
    >
      Next
    </button>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <button
      (click)="onPrevPage()"
      [disabled]="currentPage === 1"
      class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      [class.opacity-50]="currentPage === 1"
    >
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">{{ products.length }}</span>
        of
        <span class="font-medium">{{ totalProducts }}</span>
        results
      </p>
    </div>
    <button
      (click)="onNextPage()"
      [disabled]="currentPage === totalPages"
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      [class.opacity-50]="currentPage === totalPages"
    >
      <span class="sr-only">Next</span>
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
